---
pagination:
    data: pages
    size: 1
    alias: post
permalink: "{{ post.slug }}/"
layout: layout.njk
---

<h1>{{ post.title }}</h1>
{{post.content | safe}}
{% if post.image %}
  {{post.image | safe}}
{% endif %}